* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  font-family: "Agency FB", "Average Sans", sans-serif; }

body {
  width: 100%;
  height: 100%; }

#container {
  width: 100%;
  height: 100%; }

.FrontPic {
  width: 100%;
  height: 80%;
  min-height: 800px;
  min-width: 350px;
  background: url("FrontPic.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.FrontPicText {
  font-size: 700%;
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 300px;
  padding: 300px 0 0 0;
  color: white;
  text-shadow: 3px 3px 5px #292A2E; }

.NavBar {
  width: 100%;
  height: 100px;
  position: fixed;
  border-bottom: solid thin white;
  color: white;
  text-shadow: 3px 3px 5px #292A2E;
  background-color: transparent;
  transition: background-color 0.3s ease; }

.NavBarH1 {
  height: 45px;
  width: auto;
  position: absolute;
  margin: auto 0 auto 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.NavBarLinks {
  height: 50px;
  width: auto;
  position: absolute;
  margin: auto 0 auto 20px;
  right: 30px;
  top: 0;
  bottom: 0;
  color: inherit;
  font-size: 2em; }

ul {
  text-decoration: none;
  list-style: none; }

li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 5px 5px 0 5px; }

.NavA {
  text-decoration: none;
  list-style: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 1s; }

.NavA:hover {
  opacity: 1; }

#InfoBoxes {
  width: 100%;
  height: 250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.InfoH1 {
  text-align: center;
  font-size: 4em;
  padding-top: 30px; }

.InfoH2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 95px; }

.InfoBox1 {
  background-color: #D84431;
  height: 250px;
  flex: 1;
  min-width: 350px;
  transition: background-color 1s; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7; }

.InfoBox1:hover {
  background-color: #DE3123; }

.InfoBox2 {
  background-color: #4C484D;
  height: 250px;
  flex: 1;
  min-width: 350px;
  transition: background-color 1s; }

.InfoBox2:hover {
  background-color: #3E3C40; }

.InfoBox3 {
  background-color: #D84431;
  height: 250px;
  flex: 1;
  min-width: 350px;
  transition: background-color 1s; }

.InfoBox3:hover {
  background-color: #DE3123; }

.Blog {
  width: 100%;
  height: 500px;
  padding: 20px; }

.BlogH1 {
  font-size: 350%; }

.PastWorkH1 {
  width: 100%;
  height: 100px;
  background-color: #4C484D;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 150%; }

#PastWork {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: #4C484D;
  display: flex;
  flex-wrap: wrap; }

.PastWorkBox1 {
  height: 400px;
  flex: 1;
  min-width: 350px;
  background: url("cap.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.PastWorkBox2 {
  height: 400px;
  flex: 1;
  min-width: 350px; }

.PastWorkBox3 {
  height: 400px;
  flex: 1;
  min-width: 350px; }

.PastWorkBox4 {
  height: 400px;
  flex: 1;
  min-width: 350px; }

.Footer {
  width: 100%;
  height: 70px;
  background-color: #D84431; }

.FooterH1 {
  padding: 21px;
  font-size: 1.1em; }

@media screen and (max-width: 800px) {
  .NavBar li {
    display: none; } }
@media screen and (max-width: 1066px) {
  .InfoBox1 {
    min-width: 100%; }

  .InfoBox2 {
    min-width: 100%; }

  .InfoBox3 {
    min-width: 100%; } }
